<div class="container">
    <div class="card">
        <h1>Create a bear</h1>
        <form action="/bear/create" method='POST'>
            <input type="text" name='type' placeholder='type'>
            <br>
            <input type="text" name='name' placeholder='name'>
            <br>
            <br>
            <button type='submit'>Create the Bear!</button>
        </form>
    </div>
</div>