<div class="container">
    <div class="card">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
        <ul>
            <li><a href="/auth/sign-up">Create an account</a></li>
            <li><a href="/auth/sign-in">Sign in</a></li>
            <li><a href="/auth/sign-out">Sign out</a></li>
            <li><a href="/protected">Tell me a secret</a></li>
        </ul>
    </div>
</div>